[2018-01-05 03:33] kpman opened #1 "Support Firefox add-on"
Firefox is great after version 57.

[2018-01-05 10:19] tw0517tw commented on #1
https://addons.mozilla.org/zh-TW/firefox/addon/github-file-icon/

[2018-01-05 10:19] #1 closed

[2018-01-05 18:13] raphaeleidus opened #2 "Support Github Enterprise"
Ideally in the same way this works: https://github.com/buunguyen/octotree#enterprise-urls

[2018-01-06 06:09] aj-4 opened #3 "Icons flashing issue"
Icons will show briefly and disappear on initial page load.
They work as expect on refresh and with cached pages.

It seems they are being loaded then replaced by the default svg graphic.
Are others having this issue?

[2018-01-06 07:21] seanhamlin commented on #3
Yeap, seeing the same issue too.

[2018-01-06 07:36] xxhomey19 commented on #3
So do I. GitHub somehow rerenders page, and it makes this extension useless at the first time.
I will try to find a listener api to detect when the page is reloaded, then call `contentscript.js` again.

[2018-01-06 13:37] MichielDx opened #4 "Support gitlab/bitbucket?"

[2018-01-06 17:08] xxhomey19 commented on #3
I have tried a workaround way is to replace icons after delay 500 ms.
Although final result is correct, this will cause icons to flash twice.
I couldn't think of alternative ways to solve this problem at this moment 😢

[2018-01-07 00:04] aj-4 commented on #3
would you mind pushing that workaround? wouldn't mind a double flash :)

[2018-01-07 02:43] xxhomey19 commented on #3
Sure.
https://github.com/xxhomey19/github-file-icon/blob/6d1fced4dae432912ebfd5f6d8b1e05679c30d79/src/js/contentscript.js#L6

[2018-01-07 02:58] xxhomey19 commented on #4
I haven't used them for long time.
Would you want to send a PR 😄 ?

[2018-01-07 05:15] selfup commented on #4
As well as gogs and gitea 😄

[2018-01-07 11:59] MichielDx commented on #4
I'll try for gitlab and bitbucket, but I'm don't know how to test it locally 😄

I also get this error when build and starting:

[code]

[2018-01-07 14:18] xxhomey19 commented on #4
Just run `npm run start`, then webpack will auto reload when you save changes.
What's your nodejs version in your local computer?

[2018-01-07 14:28] MichielDx commented on #4
My node version is 6.9.2

I'm not home atm, so I will try that out later

[2018-01-07 16:16] MichielDx commented on #4
Just ran `npm run start` and it gives the same error

[2018-01-07 16:28] xxhomey19 commented on #4
That's strange...
Spread operator should be okay after version 6. Could you delete `node_modules` and run `yarn` to reintall everything again? I couldn't figure out what anything else causes this problem.

[2018-01-07 16:36] MichielDx commented on #4
Okay, so I did what you said but it didn't work. After reinstalling node it worked

[2018-01-07 16:39] xxhomey19 commented on #4
Awesome!

[2018-01-07 16:58] MichielDx commented on #4
I'm not sure how to test it locally though, sorry

[2018-01-07 16:59] MichielDx commented on #4
oops Accidently closed this

[2018-01-08 02:59] xxhomey19 commented on #4
Check this
https://developer.chrome.com/extensions/getstarted#unpacked

Select `/build` directory which is build by webpack on the last step.

[2018-01-08 19:25] MichielDx commented on #4
Okay, for some reason even when I remove the git url check it still doesn't work on gitlab or bitbucket. And it doesn't show under contentscripts when I check the sources...

Sorry for all the questions, never worked on an extension before 😄

[2018-01-08 21:23] lukaskollmer opened #8 "Swift icons should be orange"
Currently, `.swift` files are represented by a green icon. However, the official Swift logo is the orange bird.
The exact color seems to be `#DF5C43`

<img width="1011" alt="screen shot 2018-01-08 at 22 18 52" src="https://user-images.githubusercontent.com/6547384/34692900-05ea16e0-f4c2-11e7-979a-e2dfe0b9a73a.png">

**Official Swift logo from [swift.org](https://swift.org):**
![](https://swift.org

[2018-01-09 03:15] xxhomey19 commented on #2
@raphaeleidus
Sorry I haven't used GitHub enterprise before, and I don't have enterprise account. Therefore, I could be difficult for me to develop.
Hope someone could help this issue out.

[2018-01-09 03:28] xxhomey19 commented on #8
Hi @lukaskollmer
well, the color of Swift icon actually isn't decided by me. I used [file-icons-js](https://github.com/websemantics/file-icons-js) to create new icons and found it decided to set green color for `.swift` files. Check its code [here](https://github.com/websemantics/file-icons-js/blob/master/index.js#L1250).
So I think this issue should be posted there, it's out of my control sorry.

[2018-01-09 04:22] tiansh opened #9 "use default cursor on icon"
Hover on icon should keep cursor as default (typically an arrow) instead of cursor for text (a letter I).

[2018-01-09 06:25] ifvictr opened #10 "Add ability to disable colors"
I like the icons, but I don't like having that much color. Could you add an option that allows users to disable colors in the icons? Thank you!

[2018-01-09 06:40] aj-4 commented on #3
@xxhomey19 imo that'd be a great workaround

[2018-01-09 06:47] xxhomey19 commented on #3
@aj-4 Me too. I'm still trying to find a better solution.

[2018-01-09 08:02] xxhomey19 commented on #10
Sure, I would do it, but PRs are welcome 😄

[2018-01-09 08:11] xxhomey19 commented on #9
Really? Originally, it's a svg tag, and it doesn't have `cursor: pointer` css property.

[2018-01-09 08:12] #3 closed

[2018-01-09 09:22] tiansh commented on #9
Yes, but default pointer is the auto value for `<img>` and `<svg>` tags, so no need `cursor: pointer` originally.

[2018-01-09 09:41] xxhomey19 commented on #9
Oh I got your point. However, in my browser, my cursor is an arrow when hovering on icons.
What's your browser and computer OS? I use Chrome and OS X.

[2018-01-09 09:46] xxhomey19 commented on #4
No worries. According to [here](https://developer.chrome.com/extensions/content_scripts), property `matches` is required. You could change it to gitlab or bitbucket url. It means `content_scripts` should be injected when you open those websites.

[2018-01-09 10:13] tiansh commented on #9
Firefox + Windows

    Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:52.0) Gecko/20100101 Firefox/52.0

(Just don't know how to make it work on my Chrome...)

[2018-01-09 12:45] koddsson opened #12 "Folder icon is changed"
Not sure if this is by design but some folders have their icon switched out like this:

![image](https://user-images.githubusercontent.com/318208/34721453-b25148ea-f53a-11e7-9ce0-aaa91e666263.png)

To me, the `.github/` folder in the screenshot should still have the folder icon but I could be alone in that opinion. Would you accept a PR to make sure we don't change the folder icons or at least pro

[2018-01-09 12:51] MichielDx commented on #2
I'll take a look at this, after fixing gitlab and bitbucket

[2018-01-09 13:33] arguiot opened #13 "Safari support?"
It would be great 👍 if there were a Safari version of it 😊.

[2018-01-09 15:06] xxhomey19 commented on #12
Yes, some icons of folder with specific name will be changed. I used [file-icons-js](https://github.com/websemantics/file-icons-js) to determine the icon by the its name, and I didn't identify whether the name is a file or a folder.
It's okay to not change the folder icons! PRs are welcome.

[2018-01-10 09:03] xxhomey19 commented on #13
Haven't try it yet. I would do it when I'm free. PRs are welcome 😄

[2018-01-10 13:18] koddsson commented on #12
Hey @xxhomey19. I was going to take a stab at this but I can't get the extension running locally. It's just a matter of checking out the code, running `npm install && npm run build` and loading the `build/` folder as a unpackaged extension in chrome, right?

[2018-01-10 13:22] xxhomey19 commented on #12
Yes, that’s right. Doesn’t it work?

[2018-01-10 13:33] MichielDx commented on #12
Doesn't work for me either after the pjax merge

[2018-01-10 13:39] xxhomey19 commented on #12
😕 That’s strange. Does it show any error message? Btw, my node version is 9.2.1.

[2018-01-10 13:41] koddsson commented on #12
It happened kind of sparatically for me. Just when building and loading the extension unpacked tho. I disabled some other github extensions and it worked a bit better but I'm not sure what that was.

[2018-01-10 14:34] #12 closed

[2018-01-10 20:51] MichielDx commented on #4
Got gitlab and bitbucket working, but I get a 403 when trying to push to new branch

[2018-01-11 02:11] selfup commented on #4
@MichielDx did you fork? Sounds like you are pushing directly to this repo

[2018-01-11 09:41] MichielDx commented on #4
Oh, didn't know you had to do that :sweat_smile:
First time doing this

[2018-01-11 14:46] selfup commented on #4
Yep no worries :+1:

Happens to everyone :stuck_out_tongue:

[2018-01-12 01:16] selfrefactor opened #16 "Doesn't work on Chrome-beta&Chrome-unstable under Ubuntu"
It works on my Chromebook, but not on Ubuntu. I tested with with my 2 Chrome browsers to no success.

[2018-01-12 02:52] xxhomey19 opened #17 "Testing"
Should have more unit test.

[2018-01-17 15:39] #9 closed

[2018-01-19 04:57] xxhomey19 commented on #17
@kpman any ideas?

[2018-01-20 05:35] gluons opened #19 "Disappear from AMO?"
I revisit AMO today and I can't see this [add-on page](https://addons.mozilla.org/en-US/firefox/addon/github-file-icon/).

![default](https://user-images.githubusercontent.com/4688092/35180222-3f6f8074-fdde-11e7-80d8-9928b33bc74c.PNG)

[2018-01-20 16:13] xxhomey19 commented on #19
Yes, I got `We generally don't accept using the 'eval' function.` from their review.
I'm trying to fix it, but haven't find a good solution.

[2018-01-21 15:38] #19 closed

[2018-01-22 04:06] #8 closed

[2018-01-22 14:06] gluons commented on #19
It's back now. 🎉

![Hooray](https://media.giphy.com/media/MhHXeM4SpKrpC/giphy.gif)

![AMO](https://user-images.githubusercontent.com/4688092/35224375-6173b390-ffb7-11e7-83a2-83470d18f01d.PNG)

[2018-02-02 23:42] RoiEXLab opened #23 "Addon doesn't work on Github mobile layout"
Nice Addon. Didn't knew I needed this until I saw it.
However I noticed it doesn't seem to work on my android phone using the mobile layout of Github (the desktop version works without problems)

[2018-02-03 06:00] gluons commented on #23
Seem that it doesn't support mobile site yet.

GitHub use `tr.js-navigation-item > td.icon > .octicon` element as icon in Desktop Site.
But in Mobile Site, it is `a.list-item > .octicon`.

[2018-02-03 15:35] xxhomey19 commented on #23
Cool I don't notice this issue.
I would fix it when I have spare time, but PRs are welcome!

[2018-02-11 21:35] g-harel opened #24 "firefox add-on disapeared"

[2018-02-12 06:38] divyanshu013 commented on #24
Would be great to have this in firefox. Thanks!

[2018-02-12 18:09] mattaningram opened #25 "Code Climate icon is wrong color"
The Code Climate icon should be black, not green. Source: I am lead designer at Code Climate.

![image](https://user-images.githubusercontent.com/955092/36111957-ea81b4d6-0ff5-11e8-96d1-ce9fb11376c2.png)

[2018-02-13 04:55] xxhomey19 commented on #25
Hi @mattaningram
Actually, the color of Code Climate icon actually isn't decided by me. I used (file-icons-js)[https://github.com/websemantics/file-icons-js] to change GitHub original icon. So I believe you could open this issue to that repo would be better!

[2018-02-13 04:58] xxhomey19 commented on #24
Yes, firefox send me a email which said that I use webpack to uglify source code isn't safe. It's really annoying, but I will fix it anyway.

[2018-02-13 05:05] divyanshu013 commented on #24
That's weird 🤔

[2018-02-13 17:14] mattaningram commented on #25
@xxhomey19 Ah good to know! I'll close this and open it there. Thanks!

[2018-02-13 17:14] #25 closed

[2018-02-17 12:59] gluons commented on #24
It's used to happenn in #19. 😢

[2018-02-18 17:14] gluons commented on #24
Because of `eval` again?

![selection_001](https://user-images.githubusercontent.com/4688092/36354621-e1df2af2-1509-11e8-9e08-f8e52a765e8d.png)

[2018-02-22 09:18] #4 closed

[2018-02-22 15:58] xxhomey19 commented on #24
It should be available now. I just submit a new version add-on with a instruction file which explains how to build the add-on. Hope firefox won't disable this again.

[2018-02-22 15:58] #24 closed

[2018-02-22 16:44] gluons commented on #24
Yeah! It back now.

[2018-02-24 10:54] prince0203 opened #27 "Wrong icons displayed"
I have installed this add-on to Firefox today, and found wrong icons are displayed in some repositories. It seems to happen in repositories with git submodule.

- https://github.com/prince0203/Updraft
  ![image](https://user-images.githubusercontent.com/15273128/36629657-1ac2775c-199c-11e8-889b-a965d81226cc.png)
- https://github.com/okutani-t/submodule_test
  ![image](https://user-images.githubuse

[2018-03-01 15:02] matchai commented on #2
I'm a fan of how it was handled as a Browser Action in Refined GitHub: https://github.com/sindresorhus/refined-github/pull/819.
Less clicks, less copy-pasting, all-around simpler.

[2018-03-03 09:31] prince0203 commented on #27
Thanks for response. Actually, I took a look at the code and probably found a bug. I'll submit a pull request.

[2018-03-03 16:42] #27 closed

[2018-03-18 02:18] #23 closed

[2018-03-20 04:01] #10 closed

[2018-03-20 04:11] xxhomey19 commented on #17
<img width="437" alt="screen shot 2018-03-20 at 12 05 22 pm" src="https://user-images.githubusercontent.com/12113222/37635530-097f8a86-2c37-11e8-8e9f-b5007439ace1.png">

[2018-03-22 17:48] RoiEXLab opened #33 "Icons are slightly offset on mobile"
Not a big deal, but I just noticed this:
![grafik](https://user-images.githubusercontent.com/8350879/37788348-8002f4e2-2e01-11e8-9496-ed1f62462f60.png)
Tested on Firefox for Android.

[2018-03-23 07:02] xxhomey19 commented on #33
This is definitely a bug 😕

[2018-03-27 15:58] arnellebalane commented on #33
The misalignment of the file icons on GitHub is caused by the removal of the `octicon` class on the icon element, introduced in this commit: https://github.com/xxhomey19/github-file-icon/commit/8889ab564c579526a5ddb095c6d9e81ccddc70b7?diff=split#diff-58abb088be4b02338aacb69a0580ab7f

The `octicon` class absolutely-positions the icon element to the left.

[2018-03-28 03:12] xxhomey19 commented on #33
Hey @RoiEXLab I have uploaded a new version on Firefox. Should fix this issue.

[2018-03-28 03:19] arnellebalane commented on #33
Can confirm that `0.4.2` has fixed the issue on Firefox for Android :100:

[2018-04-07 12:49] NickCraver opened #34 "Feature request: support dark themes"
First: I love this extension!

I know the title is scary, but I propose a simplistic solution to make life better for dark GitHub users in a hurry. Here's what I'm doing locally:
[code]
I'm sure a designer could do far better than I, but something like this rigged to a "Dark Mode" checkbox in the options would make it super simple for those with dark themes to have much better looking icons.

Here

[2018-04-07 12:56] NickCraver commented on #2
I'm happy to test anything here, as I'd love to see it on Enterprise as well. The UI is nearly identical, and should be for everywhere this is. I agree with @matchai the way Refined GitHub works (where you're simply prompted for a domain) works very well. Ultimately all we're doing is adding a domain of where this extension runs.

[2018-04-09 04:37] xxhomey19 commented on #34
Great suggestion! I like this improvement, but I'm busy these weeks. PR is always welcome, or I will do it later.

[2018-04-10 16:54] xxhomey19 commented on #33
Close due to no response, and it has been fixed.

[2018-04-10 16:54] #33 closed

[2018-04-10 20:17] RoiEXLab commented on #33
@xxhomey19 Sorry for not responding 😅
I probably missed your comment back then.
Thanks for fixing this 👍

[2018-04-11 02:29] xxhomey19 commented on #33
It's okay. 👍

[2018-04-20 15:30] #34 closed

[2018-06-03 20:58] FranklinYu opened #36 "alignment issue for JSON file icon"
![screenshot 2018-06-03 pm 4 53 36](https://user-images.githubusercontent.com/3153452/40891161-0403a35a-674f-11e8-8a92-db6c8c5e4cf9.png)

The “database icon” is “lefter” than others. It’s not very obvious, so I enlarged the page for screenshot. Not sure whether it happens for any other types.

[2018-08-17 11:53] auscompgeek opened #39 "Mixed up file icons on GitLab"
Example: https://gitlab.com/Redrield/robot-rs

![screenshot](https://user-images.githubusercontent.com/128854/44264829-684ce080-a267-11e8-8741-2f33bdbfde23.png)

[2018-08-19 00:39] xxhomey19 commented on #39
Hi @auscompgeek thanks for report the issue.
This repo is weird. I checked other repos on GitLab, and they works just fine. The icons one this page seems to have wrong order, each icon should be placed its two below position. I'll check it out latter.

[2018-08-19 02:53] auscompgeek commented on #39
This repo is definitely not "weird"; I found a few others with the same problem:

- https://gitlab.com/pablo.rocka/vim_config
- https://gitlab.com/absassi/asap

[2018-08-19 03:01] xxhomey19 commented on #39
That's great. I'll find out why doesn't this extension work fine in these repos. Thank you!

[2018-08-20 02:53] #39 closed

[2018-08-20 02:59] xxhomey19 commented on #39
@auscompgeek I have fixed it.

<img width="278" alt="screen shot 2018-08-20 at 12 51 55" src="https://user-images.githubusercontent.com/12113222/44318266-6017bf80-a478-11e8-81ae-043d4208bd49.png">

[2018-08-20 07:43] OmgImAlexis opened #41 "Crashes on notifications page"
I didn't find anything in my logs. These screenshots are from with and without the extension enabled.
![Without extension](https://user-images.githubusercontent.com/6525926/44326765-dc6fca00-a49b-11e8-86f7-fdd7594cb253.png)
![With extension](https://user-images.githubusercontent.com/6525926/44326764-dc6fca00-a49b-11e8-8140-0d2062cc3940.png)

My extensions currently installed.
[code]

Is there anyt

[2018-08-20 10:13] xxhomey19 commented on #41
Have no idea what's going on 😱

[2018-08-21 05:52] xxhomey19 commented on #41
Maybe you can disable extension one by one, and see which one makes this extension crash?

[2018-09-05 13:04] charliegroll commented on #2
Any update on this?

[2018-09-06 01:06] xxhomey19 commented on #2
@charliegroll So far, nop.
Would you want to take it?

[2018-09-06 01:48] jorgegonzalez opened #42 "Why is browser history permission needed?"
![image](https://user-images.githubusercontent.com/12901172/45130110-48695800-b155-11e8-8047-87b10bb88d61.png)

These are the permissions requested by this extension in Chrome. I'm just wondering why browsing history is requested?

[2018-09-06 02:52] xxhomey19 commented on #42
Oh that's a legacy code. I'll fix it. Thanks for reporting issue!

[2018-09-06 03:39] #42 closed

[2018-09-06 04:33] xxhomey19 commented on #42
Hi @jorgegonzalez
Sorry I made a mistake. I thought it was legacy code, but I found we still need that afterward. Please check #44 for more details.

[2018-09-13 12:17] Riajyuu opened #45 "Performance Issues on Firefox"
On Firefox, this addon significantly slows down file list loading on my laptop (8G A8 AMD & 8G RAM)

[2018-09-13 16:28] franklinyu commented on #2
Both GitLab and BitBucket support self-hosting. If GitHub Enterprise is supported, I think it would be easy to also support self-hosted GitLab and BitBucket.

[2018-09-13 17:10] stamminator commented on #2
@franklinyu, gotcha, so when the user is entering their custom URL, they'll also need to select which product they're using from a drop-down or something. These custom URLs can be stored as an array of `{ url: 'enterprise.domain.com', provider: 'github' }` objects, just as a concept.

[2018-10-03 14:23] Tadaboody opened #46 "Feature request: View folder icons"
# Feature request:
Icon themes usually have special icons for folders like `src`,`tests`,`.github`.

I think it would be a great fit for this icon theme

[2018-10-04 01:40] xxhomey19 commented on #46
It will awesome if user can change icon theme. Nice suggestion!

[2018-10-04 01:43] xxhomey19 commented on #45
Can you provide more details? Like CPU or memory stats.

[2018-10-10 15:03] gluons opened #47 "`gulpfile.ts` should have Gulp icon"
`gulpfile.ts` should also have Gulp icon. But it's TypeScript icon now.

![default](https://user-images.githubusercontent.com/4688092/46745902-2759d100-ccd8-11e8-90e4-bfde0e4477ff.png)

---

This issue will be fixed by websemantics/file-icons-js#6

[2018-10-10 23:07] xxhomey19 commented on #47
Thanks, I'll update the package once they merge your PR and release a new version.

[2018-10-12 10:58] gluons commented on #47
I'm personally afraid that `file-icons-js` may be abandoned.
It hasn't got any updates for year. 🙁

[2018-10-12 11:47] xxhomey19 commented on #47
Yeah I'm afraid of that as well :(
If you want to fork it and create another package, then perhaps we can move from that library to yours.

[2018-10-20 12:47] xxhomey19 commented on #45
@silverwind
Thanks for your suggestion! I just tried to use that property (its default value is `"document_idle"`), and here is the result.

Using `"document_start"`:
1. on Chrome: it doesn't work, the program can't select any element from the DOM.
2. on Firefox: it works and improve the speed a lot, but sometimes it can't select any element from the DOM.

Using `"document_end"`:
It works for both

[2018-10-21 00:46] xxhomey19 commented on #45
@Riajyuu @silverwind
I just upload the new version v0.7.1
Please try it and see whether it improves the performance.

[2018-10-21 00:46] #45 closed

[2018-10-22 17:56] silverwind commented on #45
Thanks, this is much better. Takes maybe a few hundret miliseconds now.

[2018-10-27 15:41] Jackymancs4 opened #50 "Question: Why settings in Popup menu?"
Hello @xxhomey19
Only now I noted this change, introduced by https://github.com/xxhomey19/github-file-icon/commit/91fce311fbf21fa061fe8f0bf22fbd64e2398d9a.

I was wondering if you can share the rationale behind your decision. It feels to me a little "wrong" to move settings from a place meant for settings to a place like the user popup, meant instad to provide high level interaction and to show of

[2018-10-28 09:35] xxhomey19 commented on #50
Hi @Jackymancs4
It used to be in the option page. At that moment I thought modifying the settings in the action page is more intuitively than modifying it in the option page. Actually, I'm not quite confident about that decision now haha.
I take a look at other extensions I have installed, and I found some of them put their settings in the action page as well. So in my view, it's fine to either pu

[2018-10-29 00:19] auscompgeek opened #51 "Wrong file icons on GitHub with submodules?"
Similar to #39, but on GitHub.

Example repo: https://github.com/ValveSoftware/Proton

[2018-10-29 01:53] xxhomey19 commented on #51
Thanks mate. You always find bugs of this extension haha.

[2018-11-01 11:14] #51 closed

[2018-11-01 12:28] xxhomey19 commented on #51
Hi @auscompgeek
please upgrade to v0.7.2, it looks fine now
![screen shot 2018-11-01 at 21 24 33](https://user-images.githubusercontent.com/12113222/47851790-cd0ee480-de2d-11e8-85dd-89511ee5e6c5.png)

[2018-11-01 13:00] GrosBourrin opened #53 "Icon colors"
Icons colors are sometimes not easy to see on dark themes of github ! i use a stylish css script to darken github but that's only a suggestion

[2018-11-01 13:14] xxhomey19 commented on #53
There's an optional style for the dark theme on GitHub. Do you turn it on?
https://github.com/xxhomey19/github-file-icon#turn-on-dark-mode

[2018-11-03 19:33] FranklinYu opened #54 "GitLab added another row"
They added an item `..`, so currently the icon for `i`th item should have been the one for `i - 1`th. This issue only occur in sub-folder; there is no `..` in project root folder.

[2018-11-08 04:39] xxhomey19 commented on #54
Hi @franklinyu
thanks for reporting, but I couldn't find any repo which has an item `..`. Could you paste the link of a sample repo and a screenshot for it? Thanks

[2018-11-08 17:03] franklinyu commented on #54
That's basically in any project. Like https://gitlab.com/gitlab-org/gitlab-ce/tree/master/scripts

![capture](https://user-images.githubusercontent.com/3153452/48213870-be07c500-e34c-11e8-8c40-134defeca165.PNG)

[2018-11-09 01:37] xxhomey19 commented on #54
Got it! I'll fix it as soon as possible 👍

[2018-12-17 15:31] TimoSta opened #55 "Feature Request: Enable on self-hosted GitLab"
We are running a self-hosted internal GitLab instance, on a custom domain.
This extension only seems to apply to the hosted, public GitLab instance at gitlab.com.

It would be great if we'd be able to configure this extension to also cover our use case.

[2018-12-17 23:02] xxhomey19 commented on #55
This is related to #2
Once the functionality of entering custom domains is finished, the extension can apply to all private git servers.

[2019-01-06 07:28] aashutoshrathi opened #56 "Travis image update"
I think we should use this image for Travis: https://github.com/PKief/vscode-material-icon-theme/blob/master/icons/travis.svg

[2019-01-06 23:06] xxhomey19 commented on #56
Hey @aashutoshrathi
sorry I can't really really change what image should be shown at this moment, because this extension uses [websemantics/file-icons-js](https://github.com/websemantics/file-icons-js) to determine the icon. However, the author seems not to maintain it for a while.
This kind of issues has been reported a few times (like #47). I think the best way to solve these issues is to fork `

[2019-01-07 05:39] #56 closed

[2019-01-11 01:59] kyle-john commented on #46
Any progress? I can't wait for it.

[2019-01-21 05:03] xxhomey19 commented on #53
I’m closing this issue because it has been inactive for a few months.

[2019-01-21 05:03] #53 closed

[2019-01-21 05:04] xxhomey19 commented on #41
I’m closing this issue because it has been inactive for a few months.

[2019-01-21 05:04] #41 closed

[2019-01-25 23:39] xxhomey19 commented on #50
I’m closing this issue because it has been inactive for a few months.

[2019-01-25 23:39] #50 closed

[2019-01-28 09:20] xxhomey19 commented on #50
The popup window is changed on version 0.8.0. After referring to a few extensions, I believe showing options in a [context menu](https://developer.chrome.com/apps/contextMenus) is more correct than a customized popup menu.

[2019-01-28 23:13] xxhomey19 commented on #50
Hi @testman42
Right, I agree with your points, and I guess `contexts: ['all']` may be a mistake. Furethermore, I probly should add `documentUrlPatterns` option to restrict the context menu to only show up on specific pages. I'll fix it asap. Many thanks!

[2019-01-29 12:39] xxhomey19 commented on #50
@testman42 The changes have been made on version 0.8.1

[2019-03-16 20:04] azjezz opened #57 "Missing icon for `.hack` files."
[hacklang](https://hacklang.org) icon is missing for `.hack` files.

example : https://github.com/nuxed/framework/blob/master/src/Nuxed/Kernel/Kernel.hack

[2019-04-05 00:49] twchn opened #58 "Support `Pipfile` and `Pipfile.lock`"
They are files that created by Python packaging tool [pipenv](https://github.com/pypa/pipenv).

[2019-04-27 12:39] b0bai opened #59 "Icons aren’t replacing the default one on the project root/home."
![image](https://user-images.githubusercontent.com/14136806/56849823-a1a71700-68f1-11e9-9e77-9c1b8446f946.png)
https://github.com/B0BAI/Gemfire-REST-API-Example

![image](https://user-images.githubusercontent.com/14136806/56849829-c9967a80-68f1-11e9-88a4-5dd40eda7dc1.png)
https://github.com/B0BAI/Server-Sent-Event-Demo

Even my private repo have that issue.

[2019-04-27 12:42] B0BAI commented on #59
There is probably a conflict with [Octotree](https://www.octotree.io) plugin.

[2019-04-27 13:53] xxhomey19 commented on #59
I don't installed Octotree, and those repos look fine from my browser. So the icons look fine if you turn off Octotree?

[2019-04-27 16:16] B0BAI commented on #59
Yeah, if Octotree is off everything is fine
![image](https://user-images.githubusercontent.com/14136806/56852209-112bff00-6910-11e9-992f-e5d695775b56.png)

But if I turn it on, it messes up.

![image](https://user-images.githubusercontent.com/14136806/56852191-e6da4180-690f-11e9-80aa-5d2ecfa1f2af.png)

[2019-04-28 00:41] xxhomey19 commented on #59
Got it. Thanks for reporting this issue.

[2019-04-28 05:17] enricoreich commented on #59
I don't have this issue with octotree but with [refined github](https://github.com/sindresorhus/refined-github).

[2019-04-29 07:21] janat08 commented on #59
https://github.com/sindresorhus/refined-github/issues/1993#issuecomment-487423210

[2019-05-17 03:55] bfred-it commented on #59
This has been fixed in https://github.com/sindresorhus/refined-github/commit/fedcb021f6c99cb811a0b8ec52dd29f6a9102df9

[2019-05-29 19:31] FranklinYu commented on #59
@B0BAI Why close it? Is it fixed?

[2019-05-29 20:14] B0BAI commented on #59
No, not fix. I wonder if someone will give an update on the issue. I have since decided to not the github-file-icon lib.

[2019-08-07 17:36] fregante commented on #2
To add support for custom domains, this is all you need:

[code]

[code]

You'll also be able to drop the `tabs` and `webNavigation` permissions, together with:

https://github.com/xxhomey19/github-file-icon/blob/a525d94786258b707546abe42b8d5b77dbd1284f/src/js/background.js#L14-L18

I'm sending a PR

[2019-08-08 08:23] #2 closed

[2019-08-08 08:23] #55 closed

[2019-08-08 09:49] #17 closed

[2019-08-09 00:29] #54 closed

[2019-08-30 16:39] andriyor commented on #46
This extension depends on https://github.com/websemantics/file-icons-js as a source of icons that did not maintain since 2017.
Now you can use https://github.com/dderevjanik/github-vscode-icons that has support of icons for folder and updated icon pack

[2019-09-26 12:32] mashehu commented on #39
Hi,
The off-by-one shift of the icons appeared again at a private gitlab repo I have. So, maybe this bug isn't completely fixed yet or reappeared.
![Screenshot 2019-09-26 14 31 16](https://user-images.githubusercontent.com/6169021/65687864-5c3a7180-e06a-11e9-9f09-edd3f215b5e3.png)

[2019-10-18 00:41] #36 closed

[2019-12-19 15:43] Phoenix616 opened #70 "Support for Gitea is broken"
Currently the icons do not seem to work when self-hosting Gitea. Tested with Gitea Version: 1.11.0+dev-339-g54dab5a and Chromium Version 80.0.3977.0. (E.g. on [this repo](https://code.minebench.de/Mirrors/go-gitea-gitea))

[2019-12-30 16:47] wadjoh opened #71 "Update Firefox Add-on to v1.0.0"
The Chrome version of github-file-icon is on v1.0.0 and supports custom domains. But the Firefox add-on is currently on v0.8.1 (last updated Jan 29, 2019) which does not have the custom domains feature.

Are there plans for the Firefox add-on to be implemented?

Thanks for this extension, by the way. It's one of the few I love a lot.

[2020-02-29 04:08] stevelacey opened #72 "Ajax observer appears to be broken"
The icons load, and stay, on a fresh page load, or a hard refresh / cached page load, but clicking into directory and triggering ajax results in a flash of icons then back to the generic icons.

Tested on Chrome 80.0.3987.106 (Official Build) (64-bit)

[2020-03-13 05:11] xxhomey19 commented on #72
Hi @stevelacey

I've tried to fix this issue this afternoon, but it somehow still doesn't work :(
I have referenced some code from https://github.com/sindresorhus/hide-files-on-github/blob/master/source/content.tsx#L103 and https://github.com/sindresorhus/refined-github/blob/master/source/libs/on-file-list-update.ts. However, none of them can solve this issue. Maybe this happens because of changes

[2020-04-24 19:25] nikolay opened #74 "Add an icon for Brewfile"
https://github.com/Homebrew/brew.sh/tree/master/assets/img

[2020-05-13 10:19] AlexWayfer commented on #74
I guess, there is the same issue as https://github.com/lvarayut/github-file-icons/issues/10

[2020-05-14 23:10] AlexWayfer commented on #72
Also after "Back" button in browser.

[2020-06-07 04:04] kidonng commented on #72
[This extension](https://chrome.google.com/webstore/detail/atom-file-icons-web/pljfkbaipkidhmaljaaakibigbcmmpnc) seems to handle it well.

[2020-06-18 11:49] garak opened #75 "Not working with new github design"
See attached image
![Schermata da 2020-06-18 13-49-20](https://user-images.githubusercontent.com/179866/85016694-88eb6780-b16a-11ea-89f3-c0eb61d304f8.png)

[2020-06-19 09:00] #72 closed

[2020-06-19 09:00] #75 closed

[2020-06-19 09:03] homerchen19 commented on #72
It seems to be fixed by #76. Big thanks to @sodatea, feel free to reopen this if this still happens.

[2020-06-19 10:13] homerchen19 commented on #71
Hi @wadjoh, I'm so sorry for the late reply. The extension on Firefox has been updated to version `v1.1.0`. Hope you enjoy it, and I'm terribly sorry for this.

[2020-06-19 10:13] #71 closed

[2020-06-19 10:21] homerchen19 commented on #59
Just tested on my chrome. This issue seems to be fixed now.
I installed both extensions, and everything works pretty well.

<img width="345" alt="Screen Shot 2020-06-19 at 18 19 48" src="https://user-images.githubusercontent.com/12113222/85122736-a0ede480-b259-11ea-82fc-47a61c36c73e.png">

[2020-06-19 10:21] #59 closed

[2020-06-20 08:02] FranklinYu commented on #59
I thought the intention was to leave this issue open until the two bullet points from @fregante are implemented? Currently it was *worked around* on RGH side (according to the comment above), but it’s brittle. For example it still doesn’t work for me.

[2020-06-23 06:57] marionxue opened #78 "whether can you support private git platform."

[2020-06-26 20:02] muescha opened #79 "New Design: Async File infos -> icons get disabled"
sometimes GitHub fetch the last commit info on top and for each file in an later call to the site - you know this when the info is gray (see Screenshots)

in that case when the fetched data is displayed the icons get lost and it shows only the previous white icons

<img width="1257" alt="Bildschirmfoto 2020-06-26 um 21 56 15" src="https://user-images.githubusercontent.com/184316/85896213-5ee41600-

[2020-08-08 13:22] darkred opened #83 "Suggestion: replace in the repo and extensions names the 'Icon' to 'Icons'"
Greetings

First of all, I like the extension a lot, thank you.

I'd like to make a suggestion:
replace in the repo and extensions names, the word 'Icon' to 'Icons' i.e.
the repo: `github-file-icons`
the Chrome extension: `File Icons for GitHub and GitLab`
the Firefox extension: `File Icons for GitHub, GitLab and Bitbucket`.

My reasoning is apparent: the extensions don't affect just 1 icon, but m

[2020-08-12 08:57] homerchen19 commented on #83
It makes sense. I'll change the names. Thanks for your suggestion.

[2020-08-12 09:37] #79 closed

[2020-08-12 15:58] #83 closed

[2020-08-18 19:52] ent3r opened #85 "BUG: Dual icons when using back button"
If you use the back button to go back to the file list (from a file or folder for example) the icons become duplicated. When you hover over them, this issue disappears. The issue reappears once you stop hovering.

![Example](https://user-images.githubusercontent.com/32072697/90558899-195f1c00-e19d-11ea-8028-38d2e5fec1c6.gif)

[2020-08-19 16:04] homerchen19 commented on #85
Hi @ent3r, this doesn't happen to me. Could you try turning off other extensions which are also running on GitHub pages, and see if this bug still appears?

[2020-08-20 13:50] ent3r commented on #85
Hmm... Yeah, this happens when using [sindresorhus/refined-github](https://github.com/sindresorhus/refined-github/) along with github file icons. What would be the process if this should be fixed?

[2020-09-30 09:17] haohanyang opened #88 "Wrong firefox add-on url in README"
Cannot open https://addons.mozilla.org/en-US/firefox/addon/github-file-icons/
fixed on #89

[2020-12-11 15:23] k2on opened #93 "Location for adding missing file types"
Is there a central file that contains all the supported file extensions with the link to their icon url. This would allow for people to easily add icons with a simple pr.

[2020-12-11 15:24] #93 closed

[2020-12-11 15:25] k2on commented on #93
Found the file-icons js package

[2021-02-01 07:45] maddyb99 opened #94 "Wrong Chrome Extension Image URL in readme"
![Screenshot_20210201_131151](https://user-images.githubusercontent.com/43785086/106428746-77539780-648f-11eb-9062-9719731362e9.png)

[2021-04-05 01:15] #88 closed

[2021-04-18 15:44] homerchen19 commented on #94
Fixed!

[2021-04-18 15:44] #94 closed

[2021-04-19 03:54] shuuji3 commented on #58
What icons do you think suit `Pipfile` and `Pipfile.lock`?

[2021-07-04 05:58] vivekkpatel opened #100 "File Icons of PowerPoint and Word is not displaying correctly"
![image](https://user-images.githubusercontent.com/60865708/124374648-cd389f80-dcba-11eb-901f-333a570f96d4.png)

Word icon should be blue and PowerPoint red

[2021-07-04 06:00] vivekkpatel commented on #100
I think Gitako has much better icon set Can you use same icons?
https://github.com/EnixCoda/Gitako

[2021-09-28 19:09] peter-kehl opened #104 "Firefox: use $(ref:runtime.getURL)"
Hi Homer,

Thank you for GitHub File Icons.
In Browser Console on current Firefox 92.0.1:
[code]

[2021-11-15 03:34] ptrkcsk commented on #13
I got the extension working in Safari locally with the following steps:

1. [Configure Safari in macOS to Run Unsigned Extensions](https://developer.apple.com/documentation/safariservices/safari_web_extensions/running_your_safari_web_extension#3744467)
1. [Convert web extension](https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari):
[

[2021-12-28 20:06] withrvr opened #105 "Icons not showing properly with octotree chrome extension"
![image](https://user-images.githubusercontent.com/69628500/147602642-cfe9b122-638e-4f10-afd2-56b65552cd9c.png)

y all icons logo  ... of files is not working properly
with the [octothree chrome extention](https://github.com/ovity/octotree/)

I tried toggling between icons and dark theme of extension
and of github also

but not working

[2022-02-22 12:09] wasi-master commented on #105
I mean what do you expect? This extension is for GitHub, not for Octotree. Octotree has it's own custom icon system that requires a premium subscription

[2022-03-08 16:46] nSimonFR opened #107 "Github Pull Request File Tree - Feature request"
Github recently introduced Pull Request File Tree as a preview feature: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/filtering-files-in-a-pull-request%23using-the-file-tree

It would be nice if this extension could provide its functionality to the icons displayed in this tree !

As of right now, it currently looks like this:

<img wid

[2022-03-28 02:38] homerchen19 commented on #107
Shout out to @acharyarupak391. This feature has been released in `v1.2.0`  🥳

[2022-03-28 02:38] #107 closed

[2022-05-16 17:16] Harmelodic opened #115 "Support `CODEOWNERS` files"
Currently, `CODEOWNERS` doesn't have an icon:

<img width="252" alt="Screenshot 2022-05-16 at 19 14 01" src="https://user-images.githubusercontent.com/9994373/168647407-dbd03e24-c2c9-4a6c-a76b-47cee63215b6.png">

It'd be nice to have one.

---

I would suggest making it look like the Lock-Shield icon that GitHub puts at the top of files, when you use `CODEOWNERS` in a GitHub repository:

<img widt

[2022-05-26 20:52] nearcatch opened #117 "Update Firefox version to 1.2.0"
Right now the Firefox extension is 1.12 but the repo is 1.2.0.

[2022-06-14 07:26] crazyoptimist opened #118 "File icons in pull requests and commit screens"
Thank you for your great work!
Hope you can add terraform file icons as well.
Cheers!

[2022-06-14 07:37] CrazyOptimist commented on #118
Oh that's weird, it's already supported, never mind.

But in the improved github UI(improved pull request/commit screen, see the attached image), it doesn't show up icons at all for any kind of files.

![image](https://user-images.githubusercontent.com/55074937/173519501-1a217510-7e6e-4f27-ae5b-9cf028ec7f66.png)

[2022-06-17 18:52] christopherpickering commented on #13
Thanks! This still works 👍🏽

[2022-06-20 19:52] christopherpickering commented on #13
@ptrkcsk did you find a way to keep the extension after a reboot? I have to read it after a reboot.

[2022-06-22 11:31] christopherpickering commented on #13
It seems like to get the extension to be signed you have to fork out the $100 to add it to the appstore/get a developer certificate to sign it. https://stackoverflow.com/questions/39927598/can-you-distribute-a-safari-app-extension-outside-the-mac-app-store

I'm happy to put it on the App Store. Any one interested in contributing to the fees? From browsing other repos it looks like a GitHub action

[2022-06-23 17:53] christopherpickering commented on #13
@ptrkcsk  I took the plunge :D I had to tweak a few files in the extension converter output to make it build a usable package. Let me know if they work for you w/out turning on the unsigned option in Safari.

[2022-06-23 21:11] christopherpickering commented on #13
I got a GitHub action to build the extension using my cert, here's a build with the app you can download. After unzipping It needs to go into "applications" before running.

https://github.com/christopherpickering/github-file-icons/actions/runs/2551948841

[2022-06-24 03:15] homerchen19 commented on #117
My apologies. I just updated the version to 1.2.0 on Firefox.

[2022-06-24 03:15] #117 closed

[2022-06-24 03:18] homerchen19 commented on #118
It works on my Chrome.

<img width="341" alt="Screen Shot 2022-06-24 at 10 48 49" src="https://user-images.githubusercontent.com/12113222/175455225-06e6d9ff-f66e-4f14-b37a-c8783065e647.png">

Are you using Firefox? If so, it may be caused by https://github.com/homerchen19/github-file-icons/issues/117. I just fixed it, could you try again later?

[2022-06-24 03:49] csandman opened #120 "Icon package file-icons-js is very outdated"
The package `file-icons-js` which supplies all of the icons for this package hasn't been updated in a long time, and is missing a lot of the specific file name icons that are currently offered by the `file-icons/atom` package.  Here is an example of what it looks like with this package:

<img width="930" alt="image" src="https://user-images.githubusercontent.com/9214195/175456635-2f834b86-face-4fb

[2022-06-24 06:36] crazyoptimist commented on #118
I use the latest version of chrome, and that's weird. I removed the extension and reinstalled, but it still persists:
![image](https://user-images.githubusercontent.com/55074937/175477243-159f9210-9cb1-4394-b5eb-f5ed2092596a.png)

[2022-06-24 07:43] homerchen19 commented on #120
wow it looks much nicer! I totally agree `file-icons-js` is very outdated. Please feel free to send a PR to fix it

[2022-06-24 07:49] homerchen19 commented on #118
hmm could you provide the URL of that PR? I can check if it works on my side.

[2022-06-24 08:45] crazyoptimist commented on #118
https://github.com/crazyoptimist/terraform-basecamp/pull/1

[2022-06-24 21:09] csandman commented on #100
There is already a chrome extension for VSCode icons: https://github.com/dderevjanik/github-vscode-icons

However, these colors should be fixed in #121

[2022-06-25 12:14] christopherpickering commented on #13
Here's a build in the App Store: https://apps.apple.com/app/file-icons-for-github/id1631366167

[2022-06-25 15:44] homerchen19 commented on #118
Well it works on my Chrome. Maybe you can turn off other extensions just in case there are some conflicts?

<img width="356" alt="Screen Shot 2022-06-25 at 23 43 23" src="https://user-images.githubusercontent.com/12113222/175780894-5977efa6-1172-4471-9358-7e76306046e9.png">

[2022-06-26 03:04] crazyoptimist commented on #118
Oh that's super weird. I disabled adblocker extension(the only one I'm using except for yours) and tried again, but the same thing happens. Anyways,  if it's only me, can close this issue. Never mind.
Thanks!

[2022-06-26 03:04] #118 closed

[2022-06-28 13:33] #120 closed

[2022-06-28 13:56] homerchen19 opened #122 "Migrate to an extension framework"
- https://www.plasmo.com/
- https://wxt.dev/

[2022-06-28 16:00] homerchen19 commented on #115
Supported in `v1.3.0` 🚀

[2022-06-28 16:00] homerchen19 commented on #47
Supported in `v1.3.0` 🚀

[2022-06-28 16:00] #47 closed

[2022-06-28 16:01] homerchen19 commented on #57
Supported in `v1.3.0` 🚀

[2022-06-28 16:01] #57 closed

[2022-06-28 16:01] #58 closed

[2022-06-28 16:01] homerchen19 commented on #74
Supported in `v1.3.0` 🚀

[2022-06-28 16:01] #74 closed

[2022-06-28 16:02] homerchen19 commented on #100
Supported in `v1.3.0` 🚀

[2022-06-28 16:02] #100 closed

[2022-06-28 16:05] #105 closed

[2022-06-28 22:33] shuuji3 commented on #120
Thank you, Chris! This is a great update.🙂

[2022-06-29 12:30] rafal06 commented on #70
Also doesn't work on self-hosted Gitea version 1.16.8 (tested with Firefox 101.0.1 and github-file-icons 1.3.0 from addons.mozilla.org)

[2022-06-29 12:32] christopherpickering opened #123 "Bug in extension for Safari - regex in icondb.js"
Hey,
There is a regex issue in the new build for Safari.

I'm getting an error on this line (2614?) in `content.bundle.js`.

![image](https://user-images.githubusercontent.com/17788706/176435329-83fd4949-aa1b-4bd1-a987-081661a6e4c2.png)

(I just ran a js formatter on the js so I could see what line was causing the issue)
[code]

If I comment out this line then everything is working ok.

@csandman

[2022-06-29 16:33] christopherpickering commented on #123
@iRoachie the App Store is publishing a working update w/out that line, they seem to release them around 5pm cst.. so 6 hrs from now 👍🏽

[2022-06-29 17:26] csandman commented on #123
I checked this out, it looks like it's breaking because the line includes a positive lookbehind, a feature that [isn't supported in Safari or Firefox](https://stackoverflow.com/a/58460583/11020515).  You can see the warning here: https://regexr.com/6oovg

I can submit a PR to remove this part in the asset updating script.  I'll do it for just this line, if nothing else is broken, but if there is a

[2022-06-29 17:41] christopherpickering commented on #123
Thanks for checking it! Since it is not inside a group, would it be safe to just replace the group w/ `\w+`?
[code]

[2022-06-29 17:43] christopherpickering commented on #123
Looks like you already got it covered in your pr :) I'm sure removing it is fine too. It seems like an extremely edgecasy regex.

[2022-06-29 18:02] csandman commented on #123
Actually, you're right, I got the purpose of a positive lookahead mixed up for a second.  Positive lookarounds are only really useful when you care about the captured content, where in our case we're just using the RegEx to test another string.  I'm going to tweak my PR to replace any positive lookaheads with their content.

[2022-06-29 20:21] christopherpickering commented on #123
@iRoachie Hey, the App Store just released... working for me :)

[2022-06-30 14:49] #123 closed

[2022-07-15 15:40] christopherpickering opened #126 "Missing Icon"
Hey,

Check out this repo: https://github.com/streetsidesoftware/vscode-spell-checker
There is a file called "cspell-words.txt" that is missing the icon, and also a ".code-spell" that has the default icon:

![image](https://user-images.githubusercontent.com/17788706/179258013-1a04127a-0320-4d69-92f1-67cabefbc4d9.png)

[2022-07-15 15:40] christopherpickering commented on #126
adding @csandman

[2022-08-01 13:03] Morphclue opened #128 "Missing icon: .pdf"
# Context
I've noticed that icons for `.pdf`-files aren't visible for me.

## References
* [Example repo with pdf](https://github.com/josherich/repo-to-pdf)
![image](https://user-images.githubusercontent.com/43741877/182153288-6eda0b6a-3915-4a18-a64a-eb2b7ec771de.png)

[2022-08-03 19:04] realliyifei commented on #128
Ditto. Would be appreciated if it has PDF icon.

[2022-09-13 08:55] christopherpickering opened #129 "Missing Icon .txt"
Hi! I found another icon not showing up - a .txt. Something odd or is it really not there? I thought this one would be pretty common.

Thanks!

repo: https://github.com/atlas-bi/Power-BI-ETL

screenshot:
![image](https://user-images.githubusercontent.com/17788706/189857999-27607c27-9de3-4511-adfb-d6decc6cd114.png)

[2022-09-20 11:07] Morphclue commented on #129
Isn't this a duplicate of #126?

[2022-09-20 11:18] christopherpickering commented on #129
lol yeah... copying myself 😁

[2022-09-20 11:18] #129 closed

[2022-10-06 00:51] freddysilber opened #130 "Missing `.log` file icon"
Missing `.log` icon.

<img width="448" alt="Screen Shot 2022-10-05 at 6 49 47 PM" src="https://user-images.githubusercontent.com/38798049/194189366-e50765a0-08e0-42a6-88e0-3209534d51d2.png">

I'd be happy to make a PR for this (if I can figure it out)

If not, would this be possible to add?

[2022-10-24 12:33] pocelka opened #131 "Azure Dev Ops support"
Hello,

Would it be possible to add support for azure devops git repositories? dev.azure.com. Or at least to have a look, since it should be supported by #90, but doesn't seem to work.

Thank you.

[2022-11-13 04:14] Ayfri opened #133 "Support for new interface"
A few days ago, GitHub released a [brand-new interface](https://github.blog/changelog/2022-11-09-introducing-an-all-new-code-search-and-code-browsing-experience/) (in beta) to search trough code, with a file tree etc.
But it's not working yet with this extension ! We are missing the icons !!

[2022-11-21 09:36] homerchen19 commented on #13
https://github.com/homerchen19/github-file-icons/pull/119

[2022-11-21 09:36] #13 closed

[2022-11-23 06:55] #133 closed